{
  "development": {
    "port": 6432,
    "dialect": "postgres",
    "database": "polls_dev",
    "username": "polls",
    "password": "",
    "replication": {
      "read": [
        { "host": "mtml.ru", "username": "polls", "password": "" },
        { "host": "mtml.ru", "username": "polls", "password": "" }
      ],
      "write": { "host": "mtml.ru", "username": "polls", "password": "" }

    }
  },
  "test": {
    "username": "root",
    "password": null,
    "database": "database_test",
    "host": "127.0.0.1",
    "dialect": "postgres"
  },
  "production": {
    "username": "root",
    "password": null,
    "database": "database_production",
    "host": "127.0.0.1",
    "dialect": "postgres"
  }
}
